body
{
background-size: cover;
}

.heading
{
    font-size: 23px;
    width:100%;
    margin: 0px;
}

#start
{
    font-size: 20px;
}
#number_of_objects
{
    font-size: 20px;
}

.copy_right_footer
{
    position: fixed;
    color: red;
    bottom: 0;
    width: 100%;
    background-color: white;
    line-height: 3;
    text-align: center;
}